<f:layout name="Login" />

<f:section name="loginFormFields">
	<div class="form-group t3js-login-openid-section" id="t3-login-openid_url-section">
		<div class="input-group">
			<input type="text" id="openid_url" name="openid_url" value="{presetOpenId}" autofocus="autofocus" placeholder="{f:translate(key: 'openId', extensionName: 'openid')}" class="form-control input-login t3js-clearable t3js-login-openid-field" />
			<input type="hidden" name="username" value="" />
			<input type="hidden" name="userident" value="" />
			<div class="input-group-addon">
				<img src="{f:uri.resource(path:'EXT:openid/Resources/Public/Icons/fa-openid.svg')}" alt="fa-openid"/>
			</div>
		</div>
	</div>
</f:section>
